
.icon-wechat:before { content: '\e800'; } /* '' */
.icon-weibo:before { content: '\e801'; } /* '' */
.icon-qq:before { content: '\e802'; } /* '' */
.icon-user-plus:before { content: '\e803'; } /* '' */
.icon-user:before { content: '\e804'; } /* '' */
.icon-star-empty:before { content: '\e805'; } /* '' */
.icon-star:before { content: '\e806'; } /* '' */
.icon-heart-empty:before { content: '\e807'; } /* '' */
.icon-heart:before { content: '\e808'; } /* '' */
.icon-music:before { content: '\e809'; } /* '' */
.icon-search:before { content: '\e80a'; } /* '' */
.icon-male:before { content: '\e80b'; } /* '' */
.icon-plus-circled:before { content: '\e80c'; } /* '' */
.icon-direction:before { content: '\e80d'; } /* '' */
.icon-location:before { content: '\e80e'; } /* '' */
.icon-quote-left:before { content: '\e80f'; } /* '' */
.icon-thumbs-up:before { content: '\e810'; } /* '' */
.icon-thumbs-down:before { content: '\e811'; } /* '' */
.icon-thumbs-up-alt:before { content: '\e812'; } /* '' */
.icon-thumbs-down-alt:before { content: '\e813'; } /* '' */
.icon-tags:before { content: '\e814'; } /* '' */
.icon-phone:before { content: '\e815'; } /* '' */
.icon-down-open:before { content: '\e816'; } /* '' */
.icon-left-open:before { content: '\e817'; } /* '' */
.icon-right-open:before { content: '\e818'; } /* '' */
.icon-up-open:before { content: '\e819'; } /* '' */
.icon-facebook:before { content: '\e81a'; } /* '' */
.icon-twitter:before { content: '\e81b'; } /* '' */
.icon-cog:before { content: '\e81c'; } /* '' */
.icon-cloud-sun:before { content: '\e81d'; } /* '' */
.icon-tag:before { content: '\e81e'; } /* '' */
.icon-taxi:before { content: '\e81f'; } /* '' */
.icon-bus:before { content: '\e820'; } /* '' */
.icon-cab:before { content: '\e821'; } /* '' */
.icon-cinema:before { content: '\e822'; } /* '' */
.icon-food:before { content: '\e823'; } /* '' */
.icon-home:before { content: '\e824'; } /* '' */
.icon-ruler:before { content: '\e825'; } /* '' */
.icon-video:before { content: '\e826'; } /* '' */
.icon-color-adjust:before { content: '\e827'; } /* '' */
.icon-login:before { content: '\e828'; } /* '' */
.icon-logout:before { content: '\e829'; } /* '' */
.icon-globe:before { content: '\e82a'; } /* '' */
.icon-comment-alt:before { content: '\e82b'; } /* '' */
.icon-arrows-cw:before { content: '\e82c'; } /* '' */
.icon-address:before { content: '\e82d'; } /* '' */
.icon-megaphone:before { content: '\e82e'; } /* '' */
.icon-picture:before { content: '\e82f'; } /* '' */
.icon-camera:before { content: '\e830'; } /* '' */
.icon-clock:before { content: '\e831'; } /* '' */
.icon-flag:before { content: '\e832'; } /* '' */
.icon-videocam:before { content: '\e833'; } /* '' */